html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #fff
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vh;
  height: 80%;
  background: transparent linear-gradient(180deg, #006A71 0%, #004082 100%) 0% 0% no-repeat padding-box;

  border: 2px solid;
  border-radius: 18px;
  border-color: black;


  @media (max-width: 400px) {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  @media (max-width: 400px) {
    padding: 10px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 80px;
  top: 0;
}
